@charset "UTF-8";
* {
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0 none transparent;
}
body {
  background: #ff5292;
}
p {
  text-align: center;
  font: bold 18px Arial, Helvetica, sans-serif;
}
a {
  color: #fff;
  text-decoration: none;
  line-height: 36px;
}
div.mage {
  background: url(../images/nyxthemage.png);
  position: absolute;
  left: 50%;
  top: 20px;
  z-index: 100;
  width: 210px;
  height: 270px;
  margin: 0 0 0 -105px;
}
div.content {
  background: #000;
  position: absolute;
  left: 50%;
  top: 200px;
  z-index: 10;
  width: 200px;
  margin: 0 0 0 -120px;
  padding: 100px 20px 20px 20px;
}